<h1><%= @list.name %></h1>

<%= link_to "Back to lists 👣", lists_path, class: "btn btn-primary" %>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie%>
  <%= f.button :submit %>
<% end %>
